//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.wrapper {
    background: $bage_bg;
    overflow-x: hidden;
    font-size: 62.5%;
}

.mv {
    width: 100%;
    height: 100vh;
    margin-bottom: 60px;
    padding: 5.5%;
    position: relative;

    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 11%;
        padding: 7.1vh 5.9% 6.6vh 5.3%;
    }

    &__bg {
        width: 100%;
        height: 82vh;
        margin: 0 auto;
        background: url(../images/mv_sp.jpg) center top / cover no-repeat;

        @media screen and (min-width: 768px) {
            background: url(../images/mv.jpg) center top / cover no-repeat;
        }

        @media screen and (min-width: 1024px) {
            width: 30%;
            min-width: 350px;
            height: 86.3vh;
        }
    }

    &__ttl {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        @media screen and (min-width: 1024px) {
            mix-blend-mode: difference;
        }
    }

    &__ttlWhite {
        margin-bottom: 24px;
        font-size: 36px;
        line-height: 1.2;
        @media screen and (min-width: 768px) {
            font-size: 80px;
        }

        @media screen and (min-width: 1024px) {
            br {
                display: none;
            }

            width: 100%;
            font-size: 8.3vw;
        }
    }

    &__subttl {
        font-size: 12px;
        letter-spacing: 0.06em;

        @media screen and (min-width: 768px) {
            font-size: 25px;
        }

        @media screen and (min-width: 1024px) {
            font-size: 1.8vw;
            letter-spacing: 0;
        }
    }

    &__box {
        height: 12vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 1024px) {
            width: 88.8%;
            height: auto;
            position: absolute;
            bottom: 6.6vh;
        }
    }

    &__logo {
        width: 47%;
        max-width: 250px;
    }

    &__scroll {
        width: 34px;
        height: 34px;
        background: url(../images/scroll_icon_b.svg) center center / contain no-repeat;
    }

}

.about {
    margin-bottom: 75px;
    position: relative;

    @media screen and (min-width: 768px) {
        margin-bottom: 68px;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: flex-start;
        gap: 7.8%;
        margin-bottom: 10%;
    }

    &__pic {
        width: 100%;
        margin-bottom: 34px;

        @media screen and (min-width: 768px) {
            margin-bottom: 48px;
        }

        @media screen and (min-width: 1024px) {
            width: 71.5vw;
            margin-bottom: 6%;
        }
    }

    &__img {
        aspect-ratio: 4/3;
        object-fit: cover;
        object-position: top 0px right 20%;

        @media screen and (min-width: 768px) {
            aspect-ratio: 7/3;
        }
    }

    &__ttl {
        margin-bottom: 24px;
        padding-left: 5.6%;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.085em;
        line-height: 1;
        color: $txt_gray;

        @media screen and (min-width: 768px) {
            font-size: 18px;
            font-weight: 500;
        }

        @media screen and (min-width: 1024px) {
            font-size: 20px;
            margin-bottom: 30px;
            padding-left: 13.5%;
        }
    }

    &__txt {
        width: 61%;
        padding-left: 5.5%;
        font-size: 12px;
        font-weight: 600;
        line-height: 2.5;
        letter-spacing: 0.05em;
        color: $txt_black;

        @media screen and (min-width: 768px) {
            width: 100%;
            font-size: 15px;
            line-height: 2.73;
        }

        @media screen and (min-width: 1024px) {
            font-size: 20px;
            padding-left: 13.5%;
        }
    }

    &__brandName {
        font-weight: 400;

        @media screen and (min-width: 768px) {
            letter-spacing: 0.085em;
        }

        @media screen and (min-width: 1024px) {
            font-size: 20px;
        }
    }

    &__catch {
        position: absolute;
        top: 87px;
        right: 0;
        width: 21%;
        max-width: 120px;

        @media screen and (min-width: 768px) {
            width: 14.3%;
            max-width: 119px;
        }

        @media screen and (min-width: 1024px) {
            position: static;
            width: 8.1%;
            max-width: 157px;
        }
    }

    &__catchImg {
        width: 100%;
    }
}

.femi {
    margin-bottom: 74px;

    @media screen and (min-width: 1024px) {
        padding-right: 5.9%;
        margin-bottom: 10.4%;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 150px;
    }

    @media screen and (min-width: 1024px) {
        //     width: 100%;
        //     height: 143vh;
        //   display: flex;
        //   flex-direction: column;
    }

    &__wrap {
        @media screen and (min-width: 1024px) {
            display: flex;
            gap: 10%;
        }
    }

    &__pic1 {
        width: 100%;

        @media screen and (min-width: 1024px) {
            width: 43.5%;
        }
    }

    &__img1 {
        width: 100%;
    }

    &__box {
        position: relative;
        padding-left: 5.5%;
        margin-top: -35px;
        margin-bottom: 15%;
        z-index: 2;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }

        @media screen and (min-width: 1024px) {
            padding: 0;
            margin-top: 6.25%;
        }
    }

    &__ttl {
        margin-bottom: 24px;

        @media screen and (min-width: 768px) {
            margin-bottom: 42px;
        }
    }

    &__catch {
        @include catch(36px);

        @media screen and (min-width: 768px) {
            margin-bottom: 42px;
        }
    }

    &__list {
        margin-bottom: 36px;

        @media screen and (min-width: 768px) {
            margin-bottom: 42px;
        }
    }

    &__item {
        @include item(21px);
    }

    &__price {
        @include price;
    }


    &__photo2 {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    &__pic2 {
        // position: relative;
        // padding-left: 40%;
        margin-left: auto;
        width: 60%;
        // overflow-x: clip;

        &::before {
            content: '';
            display: block;
            width: 130vw;
            height: 40%;
            background: url(../images/feminine.svg) center center / contain no-repeat;
            position: absolute;
            top: -25%;
            left: 8.4px;
            z-index: -1;

            @media screen and (min-width: 1024px) {
                top: 50%;
                left: 0;
                width: 75.8vw;
            }
        }

        @media screen and (min-width: 1024px) {
            width: 30%;
        }

    }

    &__img2 {
        width: 100%;
        object-fit: cover;
    }
}

.classic {
    margin-bottom: 74px;

    @media screen and (min-width: 768px) {
        margin-bottom: 150px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 13.4%;
    }

    &__wrap {
        position: relative;
        z-index: 2;

        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row-reverse;
            gap: 17.6%;
        }
    }

    &__pic1 {

        width: 100%;

        @media screen and (min-width: 1024px) {
            width: 42.8vw;
        }
    }

    &__img1 {
        width: 100%;
    }

    &__box {
        padding-left: 5.5%;
        margin-top: -35px;
        margin-bottom: 15%;

        @media screen and (min-width: 1024px) {
            padding: 0;
            margin-top: 6.25%;
        }
    }

    &__ttl {
        margin-bottom: 25px;

        @media screen and (min-width: 768px) {
            margin-bottom: 42px;
        }
    }

    &__catch {
        @include catch(25px);
    }

    &__list {
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            margin-bottom: 42px;
        }
    }

    &__item {
        @include item(21px);
    }

    &__price {
        @include price;
    }

    &__photo2 {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    &__pic2 {
        width: 60%;

        @media screen and (min-width: 1024px) {
            width: 31.1vw;
        }

        &::before {
            content: '';
            display: block;
            width: 130%;
            height: 40%;
            background: url(../images/classical.svg) center center / contain no-repeat;
            position: absolute;
            top: -22%;
            left: 8.4px;
            z-index: -1;

            @media screen and (min-width: 1024px) {
                width: 86vw;
                top: 50%;
                left: 25%;
            }
        }


    }

    &__img2 {
        width: 100%;
    }

}

.dolly {
    margin-bottom: 67px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 7.8%;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 100px;
    }

    &__wrap {
        @media screen and (min-width: 1024px) {
            display: flex;
            gap: 10%;
            padding-left: 5.3%;
        }
    }

    &__pic1 {
        width: 100%;

        @media screen and (min-width: 1024px) {
            width: 43.5%;
        }
    }

    &__img1 {
        width: 100%;
    }

    &__box {
        padding-left: 5.5%;
        margin-top: -35px;
        margin-bottom: 15%;

        @media screen and (min-width: 1024px) {
            padding: 0;
            margin-top: 6.25%;
        }
    }

    &__ttl {
        margin-bottom: 33px;

        @media screen and (min-width: 768px) {
            margin-bottom: 26px;
        }
    }

    &__catch {
        @include catch(39px);

        @media screen and (min-width: 768px) {
            margin-bottom: 27px;
        }
    }

    &__list {
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            margin-bottom: 42px;
        }
    }

    &__item {
        @include item(21px);
    }

    &__price {
        @include price;
    }

    &__photo2 {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    &__pic2 {
        // position: relative;
        // padding-left: 40%;
        margin-left: auto;
        margin-bottom: 40px;
        width: 60%;

        // overflow-x: clip;
        @media screen and (min-width: 1024px) {
            width: 30%;
        }

        &::before {
            content: '';
            display: block;
            width: 150%;
            height: 40%;
            background: url(../images/dolly.svg) center center / contain no-repeat;
            position: absolute;
            top: -25%;
            left: 8.4px;
            z-index: -1;

            @media screen and (min-width: 1024px) {
                top: 50%;
                left: 0;
                width: 75.8vw;
            }
        }

    }

    &__img2 {
        width: 100%;
        object-fit: cover;
    }

    &__pic3 {
        width: 85%;
        z-index: 2;

        @media screen and (min-width: 1024px) {
            width: 62.3%;
        }
    }

    &__img3 {
        width: 100%;
    }
}

.allItems {
    margin-bottom: 68px;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-bottom: 100px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 7.8%;
    }

    &__link {
        @include link($p: 18.5px 67.5px);

        @media screen and (min-width: 768px) {
            padding: 25px 155px;
        }

        @media screen and (min-width: 1024px) {
            padding: 41px 192px;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.055em;
        }
    }
}

.outer {
    margin: 0 5.5% 18px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 4%;
    }

    &__link {
        display: block;
        width: 100%;
        aspect-ratio: 3/2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $txt_white;
        text-align: center;
        z-index: 1;

        @media screen and (min-width: 1024px) {
            margin: 0 auto;
            width: 72.5vw;
            aspect-ratio: 7/3;
        }
    }


    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }

        &1,
        &2,
        &3 {
            width: calc(100% / 3);
            height: 100%;
            // z-index: -1;
        }

        &1 {
            background: url(../images/outer_bg01.jpg) center top / cover no-repeat;
        }

        &2 {
            background: url(../images/outer_bg02.jpg) center top / cover no-repeat;
        }

        &3 {
            background: url(../images/outer_bg03.jpg) center top / cover no-repeat;
        }
    }

    &__ttl {
        line-height: 1;
        letter-spacing: .11em;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;

        @media screen and (min-width: 768px) {
            gap: 34px;
        }
    }

    &__brand {
        font-size: 11px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 1vw;
        }
    }

    &__main {
        font-size: 2.2em;

        @media screen and (min-width: 768px) {
            // font-size: 33px;
            font-size: 3.3em;
        }
        @media screen and (min-width: 1024px) {
          font-size: 3.6vw;
        }
    }

    &__sub {
        // margin-top: 15px;
        font-size: 14px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 2vw;
        }
    }

    &__view {
        position: absolute;
        bottom: 8.6%;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.11em;
        text-decoration-line: underline;

        @media screen and (min-width: 768px) {
            font-weight: 400;
            font-size: 13px;
            bottom: 12%;
        }
        @media screen and (min-width: 1024px) {
          font-size: 0.88vw;
        }
    }
}

.knit {
    margin: 0 5.5% 55px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 6.7%;
    }

    &__link {
        display: block;
        width: 100%;
        aspect-ratio: 3/2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $txt_white;
        text-align: center;
        background: url(../images/knit_bg.jpg) center top / cover no-repeat;

        @media screen and (min-width: 1024px) {
            margin: 0 auto;
            width: 72.5vw;
            aspect-ratio: 7/3;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &__ttl {
        letter-spacing: .11em;
        font-weight: 400;
        line-height: 1;
        z-index: 2;
    }

    &__brand {
        margin-bottom: 10px;
        font-size: 11px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            margin-bottom: 34px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 1vw;
          }
    }

    &__main {
        margin-bottom: 15px;
        font-size: 22px;

        @media screen and (min-width: 768px) {
            font-size: 33px;
            margin-bottom: 34px;
            font-weight: 500;
        }
        @media screen and (min-width: 1024px) {
            font-size: 3.6vw;
            font-weight: 400;
          }
    }

    &__sub {
        margin-bottom: 20px;
        font-size: 11px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            margin-bottom: 29px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 1.25vw;
          }
    }

    &__txt {
        font-size: 11px;
    }

    &__view {
        position: absolute;
        bottom: 8.6%;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.11em;
        text-decoration-line: underline;
        z-index: 2;

        @media screen and (min-width: 768px) {
            bottom: 13%;
            font-weight: 400;
            font-size: 13px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 0.88vw;
        }
    }
}

.insta {
    margin-bottom: 52px;

    @media screen and (min-width: 768px) {
        margin-bottom: 58px;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 7.7%;
    }

    &__link {
        display: block;
        width: 100%;
        aspect-ratio: 378/199;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $txt_white;
        text-align: center;
        background: url(../images/insta_bg.jpg) center top / cover no-repeat;

        @media screen and (min-width: 1024px) {
            aspect-ratio: 73/27;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &__ttl {
        letter-spacing: .11em;
        font-weight: 400;
        line-height: 1;
        z-index: 2;
    }

    &__icon {
        width: 21px;
        height: 21px;
        margin: 0 auto 14px;

        @media screen and (min-width: 768px) {
            width: 61px;
            height: 61px;
            margin-bottom: 25px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__brand {
        margin-bottom: 17px;
        font-size: 22px;

        @media screen and (min-width: 768px) {
            font-size: 33px;
            margin-bottom: 25px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 3.38vw;
        }
    }

    &__main {
        font-size: 11px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1024px) {
          font-size: 21px;
        }
    }

    &__view {
        position: absolute;
        bottom: 9%;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.11em;
        text-decoration-line: underline;
        z-index: 2;

        @media screen and (min-width: 768px) {
            font-size: 13px;
            font-weight: 400;
        }
        @media screen and (min-width: 1024px) {
          font-size: 0.88vw;
        }
    }

}